
  <h1>Welcome to Tweeters!</h1>
  <p>Enter a Twitter Handle</p>

 <form id="twitter_finder" action='/tweets' method='post'>
  <input type='text' name='handle' placeholder="Twitter handle">
  <input type='submit' value="Submit!">
 </form>

